examples/subscribe-state-kitchen-temp.json
[
  {
    "id": "e13dae948cb2840c",
    "type": "inject",
    "z": "f5b0c7eb588ff79f",
    "name": "kitchen temperature",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"temperature\":23}",
    "payloadType": "json",
    "x": 270,
    "y": 120,
    "wires": [
      [
        "0ccc5a6cc0ae6b3a"
      ]
    ]
  },
  {
    "id": "bc90c9378111efd2",
    "type": "debug",
    "z": "f5b0c7eb588ff79f",
    "name": "debug kitchen temperature",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 180,
    "wires": []
  },
  {
    "id": "3b88f21f0411eb8d",
    "type": "subscribe-state",
    "z": "f5b0c7eb588ff79f",
    "name": "subscribe kitchen temp",
    "property": "kitchen.temperature",
    "x": 260,
    "y": 180,
    "wires": [
      [
        "bc90c9378111efd2"
      ]
    ]
  },
  {
    "id": "0ccc5a6cc0ae6b3a",
    "type": "set-state",
    "z": "f5b0c7eb588ff79f",
    "name": "set state",
    "property": "kitchen.temperature",
    "func": "return msg.payload.temperature;",
    "x": 480,
    "y": 120,
    "wires": []
  }
]